dateparser==0.7.6
numpy==1.16.5
dash_bootstrap_components==0.10.3
plotly==4.9.0
matplotlib==3.3.1
dash_html_components==1.0.3
seaborn==0.9.0
dash_core_components==1.10.1
pandas==1.1.4
dash==1.13.3
scikit_learn==0.23.2
base64
jupyter-io==0.2.0
tensorflow==2.4.1
sklearn2==0.0.13
preprocessing==0.1.13
model-selection==0.0.1
keras-models==0.0.7
layers==0.1.5
Keras==2.4.3
metrics==0.3.3
math2==0.0.1.dev5
flask-ngrok==0.0.25
flask==1.1.2
gunicorn
